name: Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, gd, zip
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-scripts

      - name: Copy .env
        run: cp .env.example .env

      - name: Generate key
        run: php artisan key:generate --force

      # - name: Execute tests
      #   run: php artisan test
      # - name: Setup Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: '20'  # Adjust as needed
      #     cache: 'npm'

      - name: Setup Node.js (User Frontend)
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/user/package-lock.json  # Set cache for this folder

      - name: Install Dependencies (User Frontend)
        working-directory: frontend/user
        run: |
          npm ci
          npm run build


      # - name: Setup Node.js (Admin Frontend)
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: '20'
      #     cache: 'npm'
      #     cache-dependency-path: frontend/admin/package-lock.json  # Set cache for this folder

      # - name: Install Dependencies (Admin Frontend)
      #   working-directory: frontend/admin
      #   run: |
      #     npm ci
      #     npm run build

      # - name: Build Vue Frontend
      #   working-directory: frontend/admin
      #   if: hashFiles('frontend/admin/package.json') != ''
      #   run: |
      #     npm ci
      #     npm run build

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: ~/.cache/buildx
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build and push Docker image
      run: |
        docker build -t ghcr.io/codedsultan/imagex-basic:latest .
        docker push ghcr.io/codedsultan/imagex-basic:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add GitHub to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts

      - name: Add Server to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan  -p 2222 -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Configure git to use merge
        run: git config --global pull.rebase false

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2222  # Replace with your custom SSH port
          script: |
            cd "${{ secrets.DEPLOY_PATH }}"
            git reset --hard origin/main
            git pull origin main
            sudo chown -R www-data:www-data /var/www/apps/imagexbasic
            sudo chmod -R 777 /var/www/apps/imagexbasic
            cd ../docker
            docker-compose stop imagexbasic
            docker-compose rm -f imagexbasic
            docker-compose build imagexbasic
            docker-compose up -d imagexbasicmysql redis imagexbasic
            docker-compose exec -T imagexbasic composer install
            docker-compose exec -T imagexbasic cd frontend/user && npm install && npm run build && rm -rf node_modules && cd ../..
            docker-compose exec -T imagexbasic cd frontend/admin && npm install && npm run build && rm -rf node_modules && cd ../..
            docker-compose exec -T imagexbasic php artisan key:genrate
            docker-compose exec -T imagexbasic php artisan migrate --force



